<!-- Hosts({{hosts.size}}s)
 -->
<button type="button" class="btn btn-xs btn-success" data-toggle="modal" href="#responsive">Add Host</button>
			<table class="table">
				<thead>
					<tr class="">
						<th>Name</th>
						<th>Host</th>
						<th>Port</th>
						<th>State</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(k,o) in hosts"  >
						<td><a href="#host/{{o.id}}">{{o.name }}</a></td>
						<td>{{o.host}}</td>
						<td>{{o.port}}</td>
						<td></td>
						<td>
							<button type="button" class="btn btn-info btn-xs" ng-click="editHost(o.name,o.host,o.port,k)">Edit</button>
							<button type="button" class="btn btn-warning btn-xs" ng-click="removeHost(k)">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
<div class="modal fade" id="responsive">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Docker Host Add</h4>
      </div>
      <div class="modal-body">
      	<div class="form-group has-feedback">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <input type="text" class="form-control" ng-model="name" placeholder="Name" autofocus>
        </div>
        <div class="form-group has-feedback">
            <span class="glyphicon glyphicon-apple form-control-feedback"></span>
            <input type="text" class="form-control" ng-model="host" placeholder="Host/Ip">
        </div>
         <div class="form-group has-feedback">
            <span class="glyphicon glyphicon-apple form-control-feedback"></span>
            <input type="text" class="text-xs form-control" ng-model="port" placeholder="Port">
        </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>-->
         <button type="button" class="btn btn-xs btn-primary">Test Connection</button>
        <button type="button" class="btn btn-xs btn-primary" ng-click="updateHost()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
